{% extends "base.html" %}
{% block body %}

<
<h2 id="page_head">Browse our full menu of gourmet food</h2> <br>
<div class="container-fluid">
<h3>Buns</h3> <br>
    <table class = "table table-hover text-center" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>This item can be found in:</th>
            </tr>
        </thead>
        <tbody>
        {% for food in buns %}
            <tr>
                <td width=25%>{{food.name}}</td>
                <td width=25%>{{food.price}}</td>
                <td width=25%>Mains</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<h3>Patties</h3> <br>
    <table class = "table table-hover text-center" width="100%" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>This item can be found in:</th>
            </tr>
        </thead>
        <tbody>
        {% for food in patties %}
            <tr>
                <td width=25%>{{food.name}}</td>
                <td width=25%>{{food.price}}</td>
                <td width=25%>Mains</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<h3>Wraps</h3> <br>
    <table class = "table table-hover text-center">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>This item can be found in:</th>
            </tr>
        </thead>
        <tbody>
        {% for food in wraps %}
            <tr>
                <td width=25%>{{food.name}}</td>
                <td width=25%>{{food.price}}</td>
                <td width=25%>Mains</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<h3>Other Ingredients</h3> <br>
    <table class = "table table-hover text-center">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>This item can be found in:</th>
            </tr>
        </thead>
        <tbody>
        {% for food in misc %}
            <tr>
                <td width=25%>{{food.name}}</td>
                <td width=25%>{{food.price}}</td>
                <td width=25%>Mains</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br>
<h3>Sides</h3> <br>
    <table class = "table table-hover text-center">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>This item can be found in:</th>
            </tr>
        </thead>
        <tbody>
        {% for food in sides %}
            <tr>
                <td width=25%>{{food.name}}</td>
                <td width=25%>{{food.price}}</td>
                <td width=25%>Sides</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<h3>Drinks</h3> <br>
    <table class = "table table-hover text-center">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>This item can be found in:</th>
            </tr>
        </thead>
        <tbody>
        {% for food in drinks %}
            <tr>
                <td width=25%>{{food.name}}</td>
                <td width=25%>{{food.price}}</td>
                <td width=25%>Drinks</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
